body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    transition-duration: 2s;
    /* transition-property: background; */
    /* transition-timing-function: ease-out; */
    transition:background height 2s ease-out 3s ;
}

.box:hover{
    background-color: green;
    height: 800px;
}
