.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: solid 1px black;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    background-color: #333;

}

ul {

    text-align: center;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}