/* Roboto // monsera */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.bienvenu {
    background-image: url("./image/Fond-accueil.png");
    background-size: cover; 
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: center;
    background-color: transparent;
    font-size: 22px;
    color: white;
    font-family: "Roboto", sans-serif;
    padding-top: 5vh;
    word-spacing: 2vw;
}

.accueil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 30vh;
}

h2{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 80px;
}

.dev{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 56px;
}

.details{
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 45vw;
    font-size: 30px;
    font-weight: 300;
    color: rgb(214, 213, 213);
}

.photoProfil{
    border-radius: 50%;
    box-shadow: 0px 0px 40px #87D8F5;
}

