body {
    background-color: aqua;
    border: 50px solid #ffffff;
    margin: 100px 600px 100px 600px;
    padding: 30px;
}

header {
    color: orange;
    background-color: orange;
    display: flex;
    height: 200px;
    margin: 30px;
}

div {
    display: flex;
    justify-content: flex-start;
    height: 200px;    
}

#trois{
display: flex;
flex-direction: column;
margin-left: 10px;
flex-grow: 1;
margin-right: 30px;
}


#gris {
    color: gray;
    background-color: gray;
    display: flex;
    flex-grow: 0;
    width: 150px;
    margin-left: 30px;
}

#jaune {
    color: yellow;
    background-color: yellow;
    display: flex;
    margin-bottom: 20px;
}

#bleu {
    color: blue;
    background-color: blue;
    margin-bottom: 20px;
}

#rouge {
    color: red;
    background-color: red;

}

#footer {
    color: green;
    background-color: green;
    display: flex;
    height: 200px;
    margin: 30px;
}