
body{
    border: none;
    width: 960px;
    border-left: 150px solid #efe784;
    border-right: 150px solid #efe784;
    background-color: black;
    margin: 0px 380px 0px 380px;
    padding: 0px;
    
}

.fond{
    border: none;
    padding: 0;
    margin: 0;
}

.logo-head{
    position: relative;
    z-index: 1;
    bottom: 250px;
    left: 230px;
    border: none;
}

.bienvenue{
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    color: #efe784;
    bottom: 200px;
    right: 130px;
    letter-spacing: 25px;
    font-size: 18px;
}

.intro{
    background-color: #3e3838;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #efe784;
    border: 0px;
    padding: 100px;
     
}

h1{
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    color: #efe784;
    bottom: 200px;
    left: 280px;
    letter-spacing: 25px;
    font-size: 18px;
    
}

.marron{
    color: #ada55a;
}



h2{
    font-family: "Roboto", sans-serif;
    letter-spacing: 10px;
    font-weight: 100;
    margin: 0;
}
h3{
    color: #ffffff;
}
h4{
    color: #ffffff;
}

h5{
   
}